---
import AnimatedAnchor from "@/components/AnimatedAnchor.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const { title, description, button } = (
  (await getEntry(
    "ctaCareerSection",
    "career-cta"
  )) as CollectionEntry<"ctaCareerSection">
).data;
---

{
  (
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="mx-auto text-center lg:col-6" data-aos="fade-up-sm">
            {title && (
              <h2 class="has-gradient mb-6" set:html={markdownify(title)} />
            )}
            {description && (
              <p
                class="text-lg/[inherit] opacity-80"
                set:html={markdownify(description)}
              />
            )}
            {button && (
              <AnimatedAnchor
                className="btn-primary mt-6"
                link={button.link}
                label={button.label}
              />
            )}
          </div>
        </div>
      </div>
    </section>
  )
}
